// ABOUT Page Styling

// basic stylings for all HTML pages
// _main.scss
@use "../partials/main" as m; 
// _nightmode.scss
@use "../partials/nightmode" as n;
//_footer.scss
@use "../partials/footer" as f;
// _header.scss
@use "../partials/header" as h;
// _buttons.scss
@use "../partials/buttons" as b; 

//animation for fading into screen on load
@keyframes fadeIn {
    0% {opacity:0; color:transparent;}
    100% {opacity:1;}
}

//animation page body styling
.bio{
    animation: fadeIn 3000ms;
    animation-fill-mode: backwards; 
    //for page to extend when content is short
    @media screen and (min-width: 1200px){
        display: flex;
        min-height: 80vh;
        flex-direction: column;
    }
}

//Title styling
.heading{
    display:flex;
    justify-content: center;
    width: 100%;
    h3{
        text-transform:initial;
        font-family: "Lora", "open-serif";
        font-weight: lighter;
        font-size: 2.5em;
        letter-spacing: 4px;
    }
}

//Grid setup       
.aboutGrid{
    display:grid;
    padding: 2rem;
    padding-top:0;
    grid-template-columns: 96%;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0;
    animation: fadeIn 3000ms;
        animation-fill-mode: backwards; 
    @media screen and (min-width: 1200px){
        grid-template-columns: 38vw 1fr 33vw;
        grid-template-areas:
        "one two three";
        margin: 5vh 0;
        padding:0;
        max-width:100vw;
    }
}

.headshot{
    display:flex;
    @media screen and (min-width: 1200px){
        grid-area: three;
        justify-content: end;
    }
    img{
        display: flex;
        margin-left: 5vw;
        overflow: hidden;
        padding: 10px;
        @media screen and (min-width: 1200px){
            margin-left:0;
            padding: 0 3vw;
            grid-area: two;
            height: auto;
        }
    }
}

//Text information section styling
.intro{
    width: 80vw;
    font-family: "open-serif"; 
    text-align: left;
    margin-left:5vw;
    @media screen and (min-width: 1200px){
        font-family: "open-serif"; 
        padding-left:3vw;
        padding-top: 0;
        margin:0;
        grid-area: one;
        width:35vw;
        align-self: stretch;
        }
    h3{
        font-size: 135%;
        font-weight: normal;
        letter-spacing: 1px;
    }
    p{
        margin: 4vh 0;
        letter-spacing: 1px;
    }
    hr{
        width:100%;
        background-color:m.$contrast-color1;
        height:1px;
        border:none;
    }
}
//Skills section styling
.skills{
    display: inline-block;
    width:auto;
    text-align: left;
    font-family: "open-serif";
    margin-bottom: 2%;
    margin-left:5vw;
    letter-spacing: 1px;
    h2{
        font-family: "lora", "open-serif";
        font-weight: 200;
        text-transform: lowercase;
        letter-spacing: 2px;
    }
    @media screen and (min-width: 1200px){
        width:auto;
        margin:0;
        padding:0;
        padding-left: 4vw;
        grid-area: two;
        align-self: stretch;
    }
}

.skillIcons{
    font-size: 1.5em;
    display: flex;
    width:70%;
    justify-content: space-between;
    margin:3vh;
    margin-left:0;
    padding:5px;
    padding-left:0px;
}

button.resumé{
    background-color: m.$contrast-color1;
    display: flex;
    border: none;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    width: auto;
    height: 5%;
    margin-top: 1%;
    margin-left: 25%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
        :hover{
        background-color: m.$hover-color1;
        box-shadow: 0px 15px 20px m.$hover-color1;
        color: #fff;
        transform: translateY(-3px);
        }
        a{
        font-family: "lora";
        font-size: 1em;
        text-decoration: none;
        }
    @media screen and (min-width: 720px){
        margin-left: 0;
    }
}