// CONNECT Page Styling

// basic stylings for all HTML pages
// _main.scss
@use "../partials/main" as m; 
// _nightmode.scss
@use "../partials/nightmode" as n;
//_footer.scss
@use "../partials/footer" as f;
// _header.scss
@use "../partials/header" as h;
// _buttons.scss
@use "../partials/buttons" as b; 

//on load animation 
@keyframes fadeIn {
    0% {opacity:0; color:transparent;}
    100% {opacity:1;}
}

//side boxes animations styling
@keyframes slideLeft{
    0%{transform:translateX(500px);opacity:0;}
    100%{transform:translateX(0px);opacity:1;}
}

@keyframes slideRight{
    0%{transform:translateX(-500px);opacity:0;}
    100%{transform:translateX(0px);opacity:1;}
}

//media query to adjust slide animation for tablet limitations
@media screen and (min-width:700px){
    @keyframes slideLeft{
        0%{transform:translateX(300px);opacity:0;}
        100%{transform:translateX(0px);opacity:1;}
    }

    @keyframes slideRight{
    0%{transform:translateX(-300px);opacity:0;}
    100%{transform:translateX(0px);opacity:1;}
    }
}

////media query to adjust slide animation for desktop limitations
@media screen and (min-width:1200px){
    @keyframes slideLeft{
        0%{transform:translateX(500px);opacity:0;}
        100%{transform:translateX(0px);}
    }

    @keyframes slideRight{
        0%{transform:translateX(-500px);opacity:0;}
        100%{transform:translateX(0px);opacity:1;}
    }
}

.connectTitle{
    display: inline-flex;
    width:95%;
    height: 10vh;
    justify-content: center;
    text-align: center;
    text-transform: initial;
    font-family: "Lora", "open-serif";
    font-weight: lighter;
    font-size: 2.5em;
    letter-spacing: 1.5px; 
}

.hello{
    overflow:hidden;
    place-items:center;
    margin-bottom: 3vh; 
    h2{
        font-family: "Lora", "open-serif";
        font-weight: lighter;
        padding: 0 4vw;
        margin-bottom:8vh;
        font-weight:300;
        text-align: center;
        //animation styling on load
            animation: fadeIn 3000ms;
            animation-fill-mode: backwards; 
    }
    p{
        font-family: "Lora", "open-serif";
        font-weight: lighter;
        text-align: center;
        letter-spacing: 1.5px;
    }
    hr{
        background-color:m.$contrast-color1;
        height:1px;
        border:none;
        width:35%;
    }
}

.splitContainer p{
    padding:30px;
}

.left p{
    animation:slideLeft 1s;
}

.right p{
    animation:slideRight 1s;
}

.end{
    font-family: "Lora", "open-serif";
    font-weight: lighter;
    text-align: center;
    letter-spacing: 1.5px;
    width:90%;
    margin-left:5vw;
    margin-bottom:4vh;
}