// PROJECTS Page Styling

// basic stylings for all HTML pages
// _main.scss
@import '../partials/main';
// _nightmode.scss
@import '../partials/buttons';
//_footer.scss
@import '../partials/footer';
// _header.scss
@import '../partials/header';
// _buttons.scss
@import '../partials/nightmode';

//animation for fading into screen on load
@keyframes fadeIn {
    0% {opacity:0; color:transparent;}
    100% {opacity:1;}
}

//animation page body styling
.projectBody{
animation: fadeIn 3000ms;
animation-fill-mode: backwards; 
}

.title h3{
    display: inline-flex;
    width:100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-transform: initial;
    font-family: "Lora", "open-serif";
    font-weight: lighter;
    font-size: 2.5em;
    letter-spacing: 1.5px;
    margin:0px;
    margin-top:10px;
}

.gridGallery {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(50vmin, 1fr));
    column-gap: 10px;
    row-gap: 15px;
    place-items:center;
    justify-content: space-around;
    width:98%;
    padding-bottom:50px;
    padding-left: 2vw;
    margin-bottom:3vh;
    margin-top:0px;
    animation: fadeIn 3000ms;
        animation-fill-mode: backwards; 
    li{
        list-style-type: none;
    }
    a{
    list-style-type: none;
    }
}

.tile{
    background: $background-color;
    box-shadow: 0 10px 30px -15px;
    height: 250px;
    max-width:325px;
    :hover{
        background-color:$footercolor;
        opacity: 1.0;
        transition-duration: .5s;
        transform: translateY(-3px);
    }
}

.content{
    padding:20px;
    height:180px;
    overflow-x:scroll;
    text-align: center;
} 

.upperContent{
    font-family: "lora";
    font-weight: 200;
    letter-spacing: 1.5px;
    img{
        width:120px;
        /* margin-left:25vw; */
        margin-top:2vh;
        transform: translate(85px, 10px);
    }
}

.lowerContent p{
    font-family: "sans-serif";
}

.mediaLinks a{
    transform: translate(10px,5px);
    padding:0; 
    width:90%;
    display: block;
}